<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Django + Vue</title>
        <script src="{% static 'js/vue.js' %}"></script>
        <script src="{% static 'js/httpVueLoader.js' %}"></script>
    </head>
    <body>
        <div id="app">
          <h1>Hello from Django!</h1>
          <h1> [[ text ]] </h1>
          {% block bodyblock %}
          {% endblock %}
        </div>
        <script>
          new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            components: {
              'hello': httpVueLoader("{% static 'components/hello.vue' %}")
            },
            data: {
              text: 'Welcome to Vue!!'
            }
          })
        </script>
    </body>
</html>